<h4>Детали поста</h4>
<br />

<!-- вывод поста -->
<p> <%=@result[:content]%> </p>
<p style="font-size: 80%; color: #999">
   Добавлено <%=@result[:created_at]%>
   Автор <%=@result[:author]%></p>

<br />
<br />

<!-- вывод комментариев -->

<br />

<!-- форма для нового комментария -->

<h4>Комментарий: </h4>

<form action='/details/<%=@result[:id]%>' method='POST' role='form'>
   <textarea name='comment[content_com]' class="form-control" rows="8" placeholder="Ну пиши уже..."></textarea>
   <br />
   <button type="submit" class="btn btn-primary">Yarrrr</button>
</form>
