<h2>Последние посты</h2>
<br />

<% @result.each do |item| %>
  <p> <%=item['content']%> </p>
  <h6>
    Добавлено <%=item['created_date']%>, автор <%=item['autor']%>
    <a href='/details/<%=item['id']%>'>  Комментарий</a>
  </h6>
  <hr />
<% end %>
