<h2>Добавить новый пост</h2>

<!-- форма для добавления нового поста -->

<form action='/new' method='POST' role='form'>
  <textarea name='post[content]' class="form-control" rows="8" placeholder="Ну пиши уже..."><%=@content%></textarea>
  <br />
  <textarea name='post[author]' class="form-control" rows="1" placeholder="Представься"><%=@autor%></textarea>
  <br />
  <button type="submit" class="btn btn-primary">Yarrrr</button>
</form>
