<h2>Добавить новый пост</h2>

<form action='/new' method='POST' role='form'>
  <textarea name='content' class="form-control" rows="8" placeholder="Ну пиши уже..."></textarea>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
